<div class="login-panel">
    <div class="login-header">
        <span translate="login"></span>
    </div>
    <div class="login-content">
        <form>
            <div class="field-group">
                <label>E-mail</label>
                <input class="login-input" id="emailInput" type="text" ng-model="email" ng-keyup="$event.keyCode == 13 && login()">
            </div>
            <div class="field-group">
                <label for="passwordInput" translate="password"></label>
                <input class="login-input" id="passwordInput" type="password" ng-model="password" ng-keyup="$event.keyCode == 13 && login()">
            </div>
            <div class="field-group">
                <button class="btn btn-first btn-default authorization-button max-width-button" ng-click="login()" translate="login"></button>
            </div>
            <div class="field-group">
                <button class="btn btn-default authorization-button max-width-button" ng-click="cancel()" translate="cancel"></button>
            </div>
            <div class="field-group">
                <span class="account-btn authorization-button max-width-button" ng-click="createAccount()">Create New Account</span>
            </div>
            <!--<div class="field-group">-->
                <!--<p class="authorization-message" ng-bind="message"></p>-->
            <!--</div>-->

        </form>
    </div>
</div>
